# Environment Variables

# Server specific environment variables
PORT=""

# MongoDB Atlas URL
MONGO_DB_URL=""

# Nodemailer User and Password
NODEMAILER_USER_EMAIL=""
NODEMAILER_USER_EMAIL_PASSWORD=""

# Json Web Token (JWT) Secret Key
JWT_SECRET_KEY=""